In [1]:
# Imports
# pandas

import pandas as pd
from pandas import Series, DataFrame

# # numpy, matplotlib,seaborn
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline

# # machine learning
from sklearn import datasets
iris = datasets.load_iris()
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB

from sklearn import cross_validation
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

/Users/aishwaryachinnari/anaconda/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:

import patsy

In [3]:
tita_df = pd.read_csv("/Users/aishwaryachinnari/Desktop/myproj/D/Capstone_Titanic/Titanic/genderclassmodel.csv")
tita_df.head(4)

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0

In [4]:
tita_df_1 = pd.read_csv("/Users/aishwaryachinnari/Desktop/myproj/D/Capstone_Titanic/Titanic/train-3.csv")
tita_df_1.head(4)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S

In [5]:
tita_df_1.shape

(891, 12)

In [6]:
## Looking for missing values on my dataset
tita_df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [7]:
tita_df_1.Cabin.describe()

count             204
unique            147
top       C23 C25 C27
freq                4
Name: Cabin, dtype: object

In [8]:
tita_df_1.Cabin.isnull().sum()

687

In [9]:
### Missing values calculations
tita_df_1.Sex.isnull().sum()

0

In [10]:
tita_df_1.columns.tolist()

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [11]:
tita_df_1.Embarked.isnull().sum()

2

In [12]:
train_df["Age"] = train_df["Age"].fillna(train_df["Age"].mean())
train_df["Fare"] = train_df["Fare"].fillna(train_df["Fare"].mean())
train_df.Age.isnull().sum()

NameError: name 'train_df' is not defined

In [ ]:
tita_df_1.Fare.isnull().sum()

In [ ]:
tita_df_1.groupby(['Sex','Embarked'])[['Survived']].count()

In [ ]:
# tita_df_1.groupby?

In [ ]:
tita_df_1.groupby(['Sex','Embarked'])[['Survived']].mean()

In [ ]:
tita_df_1.groupby(['Sex'])[['Survived']].count().plot(kind='bar')

In [ ]:
tita_df_1.hist(column="Age", color='r')

In [ ]:
tita_df_1.Embarked.isnull().sum()

In [ ]:
tita_df_1['Embarked'].head(3)

In [ ]:
tita_df_1.Embarked.isnull().sum()

In [ ]:
sns.boxplot(x="Embarked", y="Age", hue="Sex", data=tita_df_1, palette="Set3")

In [ ]:
tita_df_1.groupby(['Cabin'])[['Survived']].count()
for df in tita_df_1['Cabin']:
    print df

In [ ]:
clean = tita_df_1['Cabin'].dropna()
clean

In [ ]:
clean = tita_df_1['Cabin'].dropna()
clean

for data in clean:
    a= data.split(' ')
    print (a[0])

In [ ]:
#tita_df_1['Cabin'].apply(lambda x: x['Cabin'].split(' '), axis=1)
clean = clean.map(lambda x: x.split(', ')[0][0])

tita_df_1.Cabin = clean

tita_df_1.Cabin =pd.DataFrame(tita_df_1.Cabin.dropna())
tita_df_1.Cabin
tita_df_1.head(4)

tita_df_clean_cabin = tita_df_1.dropna(axis=0, how='any', inplace=False) ## almost clean dataset
# #tita_df_clean_cabin
cabin_su=tita_df_clean_cabin.groupby(['Cabin','Survived']).mean()

In [ ]:
## Checking for missing values
tita_df_clean_cabin.isnull().sum()

In [ ]:
tita_df_clean_cabin.groupby(['Cabin'])[['Survived']].count().plot(kind='line', color='g')
plt.show()

## include title on your graph
## label your y axis

This is my analysis of...... I found......

In [ ]:
tita_df_clean_cabin

In [ ]:
tita_df_clean_cabin.groupby(['Survived'])[['Fare']].count().plot(kind='line', color='g')
plt.show()

In [ ]:
tita_df_clean_cabin.groupby(['Embarked'])[['Fare']].count().plot(kind = 'bar')

In [ ]:

y= tita_df_1['Fare']
Fare_in=y.astype('int')

In [ ]:
tita_df_1.head(4)

In [ ]:
fig = plt.figure(figsize=(18,12))
a = 0.65
# Step 1
ax1 = fig.add_subplot(341)
tita_df_1.Survived.value_counts().plot(kind='bar', color="blue", alpha=a)
ax1.set_xlim(-1, len(tita_df_1.Survived.value_counts()))
plt.title("Step. 1")

# # Step 2
ax2 = fig.add_subplot(345)
tita_df_1.Survived[tita_df_1.Sex == 'male'].value_counts().plot(kind='bar',label='Male')
tita_df_1.Survived[tita_df_1.Sex == 'female'].value_counts().plot(kind='bar', color='#FA2379',label='Female')
ax2.set_xlim(-1, 2)
plt.title("Step. 2 \nWho Survied? with respect to Gender."); plt.legend(loc='best')

ax3 = fig.add_subplot(346)
(tita_df_1.Survived[tita_df_1.Sex == 'male'].value_counts()/float(tita_df_1.Sex[tita_df_1.Sex == 'male'].size)).plot(kind='bar',label='Male')
(tita_df_1.Survived[tita_df_1.Sex == 'female'].value_counts()/float(tita_df_1.Sex[tita_df_1.Sex == 'female'].size)).plot(kind='bar', color='#FA2379',label='Female')
ax3.set_xlim(-1,2)
plt.title("Who Survied proportionally?"); plt.legend(loc='best')


# # Step 3
ax4 = fig.add_subplot(349)
female_highclass = tita_df_1.Survived[tita_df_1.Sex == 'female'][tita_df_1.Pclass != 3].value_counts()
female_highclass.plot(kind='bar', label='female highclass', color='#FA2479', alpha=a)
ax4.set_xticklabels(["Survived", "Died"], rotation=0)
ax4.set_xlim(-1, len(female_highclass))
plt.title("Who Survived? with respect to Gender and Class"); plt.legend(loc='best')

ax5 = fig.add_subplot(3,4,10, sharey=ax1)
female_lowclass = tita_df_1.Survived[tita_df_1.Sex == 'female'][tita_df_1.Pclass == 3].value_counts()
female_lowclass.plot(kind='bar', label='female, low class', color='pink', alpha=a)
ax5.set_xticklabels(["Died","Survived"], rotation=0)
ax5.set_xlim(-1, len(female_lowclass))
plt.legend(loc='best')

ax6 = fig.add_subplot(3,4,11, sharey=ax1)
male_lowclass = tita_df_1.Survived[tita_df_1.Sex == 'male'][tita_df_1.Pclass == 3].value_counts()
male_lowclass.plot(kind='bar', label='male, low class',color='lightblue', alpha=a)
ax6.set_xticklabels(["Died","Survived"], rotation=0)
ax6.set_xlim(-1, len(male_lowclass))
plt.legend(loc='best')

ax7 = fig.add_subplot(3,4,12, sharey=ax1)
male_highclass = tita_df_1.Survived[tita_df_1.Sex == 'male'][tita_df_1.Pclass != 3].value_counts()
male_highclass.plot(kind='bar', label='male highclass', alpha=a, color='steelblue')
ax7.set_xticklabels(["Died","Survived"], rotation=0)
ax7.set_xlim(-1, len(male_highclass))
plt.legend(loc='best')

plt.show()

In [ ]:
plt.figure(figsize=(6,4))
fig, ax = plt.subplots()
tita_df_1.Survived.value_counts().plot(kind='barh', color="blue", alpha=.65)
ax.set_ylim(-1, len(tita_df_1.Survived.value_counts())) 
plt.title("Survival Breakdown (1 = Survived, 0 = Died)")

In [ ]:
fig = plt.figure(figsize=(18,6))

#create a plot of two subsets, male and female, of the survived variable.
#After we do that we call value_counts() so it can be easily plotted as a bar graph. 
#'barh' is just a horizontal bar graph
df_male = tita_df_1.Survived[tita_df_1.Sex == 'male'].value_counts().sort_index()
df_female = tita_df_1.Survived[tita_df_1.Sex == 'female'].value_counts().sort_index()

ax1 = fig.add_subplot(121)
df_male.plot(kind='barh',label='Male', alpha=0.55)
df_female.plot(kind='barh', color='#FA2379',label='Female', alpha=0.55)
plt.title("Who Survived? with respect to Gender, (raw value counts) "); plt.legend(loc='best')
ax1.set_ylim(-1, 2)

ax2 = fig.add_subplot(122)
(df_male/float(df_male.sum())).plot(kind='barh',label='Male', alpha=0.55)  
(df_female/float(df_female.sum())).plot(kind='barh', color='#FA2379',label='Female', alpha=0.55)
plt.title("Who Survived proportionally? with respect to Gender"); plt.legend(loc='best')

ax2.set_ylim(-1, 2)

In [ ]:
fig = plt.figure(figsize=(18,4), dpi=1600)
alpha_level = 0.65

ax1=fig.add_subplot(141)
female_highclass = tita_df_1.Survived[tita_df_1.Sex == 'female'][tita_df_1.Pclass != 3].value_counts()
female_highclass.plot(kind='bar', label='female, highclass', color='#FA2479', alpha=alpha_level)
ax1.set_xticklabels(["Survived", "Died"], rotation=0)
ax1.set_xlim(-1, len(female_highclass))
plt.title("Who Survived? with respect to Gender and Class"); plt.legend(loc='best')


ax2=fig.add_subplot(142, sharey=ax1)
female_lowclass = tita_df_1.Survived[tita_df_1.Sex == 'female'][tita_df_1.Pclass == 3].value_counts()
female_lowclass.plot(kind='bar', label='female, low class', color='pink', alpha=alpha_level)
ax2.set_xticklabels(["Died","Survived"], rotation=0)
ax2.set_xlim(-1, len(female_lowclass))
plt.legend(loc='best')

ax3=fig.add_subplot(143, sharey=ax1)
male_lowclass = tita_df_1.Survived[tita_df_1.Sex == 'male'][tita_df_1.Pclass == 3].value_counts()
male_lowclass.plot(kind='bar', label='male, low class',color='lightblue', alpha=alpha_level)
ax3.set_xticklabels(["Died","Survived"], rotation=0)
ax3.set_xlim(-1, len(male_lowclass))
plt.legend(loc='best')

ax4=fig.add_subplot(144, sharey=ax1)
male_highclass = tita_df_1.Survived[tita_df_1.Sex == 'male'][tita_df_1.Pclass != 3].value_counts()
male_highclass.plot(kind='bar', label='male, highclass', alpha=alpha_level, color='steelblue')
ax4.set_xticklabels(["Died","Survived"], rotation=0)
ax4.set_xlim(-1, len(male_highclass))
plt.legend(loc='best')

In [ ]:
train_df = pd.read_csv("/Users/aishwaryachinnari/Desktop/myproj/D/T/Titanic/test-2.csv")

In [ ]:
test_df = pd.read_csv('/Users/aishwaryachinnari/Desktop/myproj/D/T/Titanic/test-2.csv')
test_df

In [ ]:
test_df.shape

In [ ]:
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split
from sklearn import svm
columns = "PassengerId Survived Pclass Name Sex Age SibSp Parch Ticket Fare Cabin Embarked".split()
from sklearn.model_selection import KFold
kf = KFold(n_splits=2)
for train, test in kf.split(X):
    print("%s %s" % (train, test))

In [ ]:
train_df.describe()

In [ ]:
train_df.head()

In [ ]:
df = pd.read_csv("/Users/aishwaryachinnari/Desktop/myproj/D/T/Titanic/train-3.csv")
df.head(4)

In [ ]:
formula = 'Survived ~ C(PassengerId) + C(Sex) + C(Pclass) +Age +C(SibSp) +C(Parch) +C(Ticket) +Fare+ C(Cabin)+C(Embarked)'

In [ ]:
Y, X = patsy.dmatrices(formula, data=df,return_type='dataframe')

In [ ]:
x_train, x_test, y_train, y_test = cross_validation.train_test_split(X,Y,test_size=.3)

In [ ]:
print x_train.shape, y_train.shape, x_test.shape, y_test.shape

In [ ]:
model = LogisticRegression()

In [ ]:
model.fit(x_train,y_train)

In [ ]:
y_pred=model.predict(x_test)

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score

confmat = confusion_matrix(y_true=y_test, y_pred=y_pred)

confusion = pd.DataFrame(confmat, index=['Died','Survived'],
                         columns=['Predicteddied','Predictedsurvived'])

print(confusion)

In [ ]:
y_pred

In [ ]:
TP = confusion.ix['Died','Predicteddied'] 

FP = confusion.ix['Died','Predictedsurvived']

TN = confusion.ix['Survived','Predicteddied']

FN = confusion.ix['Survived','Predictedsurvived']

print(zip(['True Positives','False Positives','True Negatives','False Negatives'],
          [TP, FP, TN, FN]))

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.cross_validation import StratifiedShuffleSplit

In [ ]:
df["Age"] = df["Age"].fillna(df["Age"].mean())
df.Age.isnull().sum()

In [ ]:

X= df[['Pclass','SibSp','Parch','Age','Fare']]
X.head()

In [ ]:
y = df.Survived

In [ ]:
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size=0.4)

In [ ]:
grid = {
    'C': np.power(10.0, np.arange(0, 10))
}
gs = GridSearchCV(model, grid, scoring='roc_auc', cv=5)
gs.fit(X, y)

print('gs.best_score_:', gs.best_score_)

In [ ]:
model.set_params